{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <header>Bought!</header>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Total</th>
            </tr>
        </thead>
        {% for items in stocks %}
        <tbody>
            <tr>
                <td class="text-start">{{ items["symbol"] }}</td>
                <td class="text-end">{{ items["name"] }}</td>
                <td class="text-end">{{ items["shares"] }}</td>
                <td class="text-end">{{ items["current_price"] | usd }}</td>
                <td class="text-end">{{ items["total_value"] | usd }}</td>
            </tr>
        </tbody>
        {% endfor %}
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{ current_balance | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Total</td>
                <td class="border-0 text-end">{{ total_value | usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
